.landing-page {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.image-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

.fullscreen-image {
    /* Full width: */
    width: 100vw;  
    /* Full height: */
    height: 100vh; 
    object-fit: cover; 
    object-position: center; 
    display: block;
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 1) 10vw, rgba(255, 255, 255, 0.4) 25vw, rgba(255, 255, 255, 0) 30vw);
    /* Allows interaction with the image:+ */
    pointer-events: none; 
  }

  .logo {
    position: absolute;
    top: 10vh; 
    /* How far from the left: */
    left: 1vw;
    /* Scales based on screen width: */
    width: 30vw; 
    /* Prevents the logo from getting too big: */
    max-width: 500px; 
    height: auto; /* for maintaining aspect ratio */
    /* Ensures it appears above everything else: */
    z-index: 10; 
    opacity: .68; /* makes it appear lighter */
  }
  

  .locations-container {
    position: absolute;
    top: 65%; 
    right: 2vw; 
    transform: translateY(-50%); /* ensures centering */
    display: flex;
    flex-direction: column; /* stacks text vertically */
    align-items: flex-end; /* Aligns text to the right */
  }
  
  .image-text {
    font-size: 10vw; 
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-align: right;
    line-height: 1.1; /* spacing between lines */
    letter-spacing: 1.1vw;
    mix-blend-mode: screen; /* blends with the background */
    opacity: .4; /* makes it appear lighter */
  }
  
  .header-nav {
    position: absolute;
    top: .8vh;
    right: 4.4vw; /* position in the upper-right corner */
    display: flex;
    gap: 9vw; /* space between each nav item */
  }
  
  .header-nav a {
    color: #171717; /* Dark gray text */
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none; /* no underline */
    transition: color 0.3s ease-in-out;
  }
  
  .header-nav a:hover {
    border-top: 1px solid red;
    border-bottom: 2px solid #FF5349;
  }